<!--/////////// HEADER SECTION //////////-->
<section id="intro">
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="container">
                    <a class="navbar-brand" href="index.html">miRNA</a>
                    <div id="main-nav" class="navbar-collapse">
                        <ul class="social-links">
                            <a href="index.html#"><li class="fa fa-twitter"></li></a><!-- Twitter Link -->
                            <a href="index.html#"><li class="fa fa-facebook"></li></a><!-- Facebook Link -->
                            <a href="index.html#"><li class="fa fa-youtube"></li></a><!-- YouTube Link -->
                            <a href="index.html#"><li class="fa fa-instagram"></li></a><!-- Instagram Link -->
                        </ul>
                    </div><!-- /navbar-collapse -->
                </div><!-- /container -->

            </div>
        </nav>
    </header>
    <div class="container">
        <div class="intro-well wow animated bounceIn">
            <div class="col-md-12">
                <h1>MicroRNA and Term Association Database Tool</h1>
                <h2>Enter search term or delimited list of search terms below...</h2>
                <div class=".col-md-8">
                    <textarea style="width:100%; min-height:300px; resize: none;border: 5px #5081B5 solid"></textarea>
                    <a class="btn btn-primary" style="float:left;width:49.5%" href="index.html#"><li class="fa fa-gg fa-lg"></li>&nbsp;&nbsp;Compute</a>
                    <a class="btn btn-primary" style="float:right;width:49.5%" href="index.html#"><li class="fa fa-trash-o fa-lg"></li>&nbsp;&nbsp;Clear</a>
                </div>
            </div>
        </div>
    </div><!-- /container -->


</section>
<!--////////// FEATURES SECTION ////////// -->
<section id="features">
    <div class="container wow fadeIn animated">
        <h1>Results</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque faucibus risus non iaculis. Fusce a augue ante, pellentesque pretium erat. Fusce in turpis in velit tempor pretium. Integer a leo libero.</h2>

    </div><!-- /container -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.1s">

            </div><!-- /col-md-6 -->
            <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.2s">

            </div><!-- /col-md-6 -->
        </div><!-- /row -->
    </div><!-- /container -->

</section>
