<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../Images/miRLiN_Logo.svg" style="height: 120px;
    margin-top: -50px;"/></a>
                <div id="main-nav" class="navbar-collapse">
                    <ul class="social-links">
                        <a href="index.html#"><li class="fa fa-twitter"></li></a><!-- Twitter Link -->
                        <a href="index.html#"><li class="fa fa-facebook"></li></a><!-- Facebook Link -->
                        <a href="index.html#"><li class="fa fa-youtube"></li></a><!-- YouTube Link -->
                        <a href="index.html#"><li class="fa fa-instagram"></li></a><!-- Instagram Link -->
                    </ul>
                </div><!-- /navbar-collapse -->
            </div><!-- /container -->

        </div>
    </nav>
</header>
