<div id="results" class="container wow fadeIn animated">
    <h1>Results</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in resultList">
                <td>{{result.Name}}</td>
                <td>{{result.Value}}</td>
            </tr>
        </tbody>   
    </table>
</div><!-- /container -->
<div class="container">
    <div class="row">
        <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.1s">

        </div><!-- /col-md-6 -->
        <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.2s">

        </div><!-- /col-md-6 -->
    </div><!-- /row -->
</div><!-- /container -->