<style>
    .result-block {
        border: 5px #34495e solid;
        min-height: 400px;
        max-height: 400px;
        margin-bottom: .5%;
        padding-left: 0px;
        padding-right: 0px;
    }
</style>


<div id="results" class="container wow fadeIn animated">
    <h1>Results</h1>
</div><!-- /container -->

<div class="container">
    <div class="row">
        <div class="col-md-5 result-block wow fadeInLeft animated" style="float: left" data-wow-delay="0.1s">
            <div ng-if="resultList" ui-grid="{ data: resultList }" class="grid" ui-grid-infinite-scroll></div>    
        </div><!-- /col-md-6 -->
        <div class="col-md-5 result-block wow fadeInLeft animated" style="float: right" data-wow-delay="0.2s">

        </div><!-- /col-md-6 -->
    </div><!-- /row -->

    <div class="row">
        <div class="col-md-5 result-block wow fadeInLeft animated" style="float: left;" data-wow-delay="0.1s">

        </div><!-- /col-md-6 -->
        <div class="col-md-5 result-block wow fadeInLeft animated" style="float: right;" data-wow-delay="0.2s">

        </div><!-- /col-md-6 -->
    </div><!-- /row -->
</div><!-- /container -->