<style>
    textarea {
        width:100%; 
        min-height:300px;
        resize: none;
        border: 5px #5081B5 solid
    }

    .compute-btn {
        float:left;width:49.5%
    }

    .clear-btn {
        float:right;width:49.5%
    }
</style>


<div class="container">
    <div class="intro-well wow animated bounceIn">
        <div class="col-md-12">
            <h1>MicroRNA and Term Association Database Tool</h1>
            <h2>Enter search term or delimited list of search terms below...</h2>
            <div class=".col-md-8">
                <textarea ng-model="searchList"></textarea>
                <a class="btn btn-primary compute-btn" ng-click="compute()"><li class="fa fa-gg fa-lg"></li>&nbsp;&nbsp;Compute</a>
                <a class="btn btn-primary clear-btn"><li class="fa fa-trash-o fa-lg"></li>&nbsp;&nbsp;Clear</a>
            </div>
        </div>
    </div>
</div><!-- /container -->
